In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# [Pandas](https://pandas.pydata.org)
Pandas简介:以Numpy为基础,提供了数据处理的函数和方法,结合Matplotlib,进行数据可视化展示.
两个核心数据类型
* `Series`(数据系列,一维)
* `DataFrame`(数据框,二维)

## DataFrame

### 通过二维数组创建DF

In [4]:
courses = ['语','数','英']
ids = [_ for _ in range(1001,1006)]
scores = np.random.randint(60,101,(5,3))
df1 = pd.DataFrame(data=scores,index=ids,columns=courses)
df1

       语   数   英
1001  69  66  85
1002  96  70  73
1003  78  68  68
1004  78  94  89
1005  83  85  97

### 通过字典创建

In [10]:
scores ={
    '语':np.random.randint(60,101,5).tolist(),
    '数':np.random.randint(60,101,5).tolist(),
    '英':np.random.randint(60,101,5).tolist()
}
print(scores)
ids = [_ for _ in range(1001,1006)]
df2 = pd.DataFrame(data=scores, index=ids)
df2

{'语': [75, 75, 67, 95, 75], '数': [68, 79, 90, 71, 81], '英': [77, 63, 82, 76, 67]}

       语   数   英
1001  75  68  77
1002  75  79  63
1003  67  90  82
1004  95  71  76
1005  75  81  67

### pandas处理日期

In [5]:
dates=pd.date_range('20200101',periods=6)# pandas处理日期
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [67]:
dataframe2=pd.DataFrame(np.random.randn(6,4))
dataframe2

          0         1         2         3
0 -0.211503  2.928268 -1.322111 -1.187046
1  1.088503  1.685135  0.769677 -0.560567
2  2.454717  0.605607 -0.860714 -0.697368
3 -0.249977  1.368452 -1.013128  0.420772
4  0.270808 -1.003096 -0.160728  0.191057
5 -0.283846 -0.656593 -0.866140  0.694363

In [11]:
# 指定行列的标签
dataframe1=pd.DataFrame(np.random.randn(6,4),index=dates,columns=['随机的1','随机的2','随机的3','随机的4'])
dataframe1

                随机的1      随机的2      随机的3      随机的4
2020-01-01  0.185312 -1.216725 -1.882019  0.885951
2020-01-02 -1.148477  0.461542 -0.797025 -1.089400
2020-01-03  0.809992  0.468062 -0.365549 -0.252809
2020-01-04 -0.129881 -0.609299 -0.713573  0.026165
2020-01-05  0.498506  0.937427  0.962913  0.106590
2020-01-06  2.413853 -0.983792  1.017281  1.304562

## 输出dataframe及赋值

In [12]:
dataframe1.随机的1

2020-01-01    0.185312
2020-01-02   -1.148477
2020-01-03    0.809992
2020-01-04   -0.129881
2020-01-05    0.498506
2020-01-06    2.413853
Freq: D, Name: 随机的1, dtype: float64

### loc[] 根据标签进行输出

In [70]:
# 筛选后输出
dataframe1.loc['2020-01-01':'2020-01-03',['随机的1','随机的3']]

                随机的1      随机的3
2020-01-01  1.069631 -0.775526
2020-01-02  0.262717  1.242815
2020-01-03  0.149777  0.249414

In [71]:
dataframe1.loc['2020-01-01':'2020-01-03','随机的1':'随机的3']

                随机的1      随机的2      随机的3
2020-01-01  1.069631 -1.063558 -0.775526
2020-01-02  0.262717 -0.002181  1.242815
2020-01-03  0.149777  1.883083  0.249414

### iloc[] 根据坐标进行输出

In [72]:
dataframe1.iloc[2]

随机的1    0.149777
随机的2    1.883083
随机的3    0.249414
随机的4    1.785598
Name: 2020-01-03 00:00:00, dtype: float64

In [73]:
dataframe1.iloc[2:4]

                随机的1      随机的2      随机的3      随机的4
2020-01-03  0.149777  1.883083  0.249414  1.785598
2020-01-04 -0.515087  1.118550  0.517592  0.046871

In [74]:
dataframe1.iloc[2:4,1]

2020-01-03    1.883083
2020-01-04    1.118550
Freq: D, Name: 随机的2, dtype: float64

In [75]:
dataframe1.iloc[2:4,1:3]

                随机的2      随机的3
2020-01-03  1.883083  0.249414
2020-01-04  1.118550  0.517592

### 筛选输出

In [76]:
dataframe1[dataframe1.随机的1>0.5]

                随机的1      随机的2      随机的3      随机的4
2020-01-01  1.069631 -1.063558 -0.775526  0.495784
2020-01-05  1.001624  1.098171  0.979042  1.374209

#### 输出的时候可以直接进行赋值

### 对存在空值的行或列进行处理

In [77]:
dataframe1.iloc[0,1]=np.nan

In [78]:
df_copy=dataframe1.copy()

In [79]:
df_copy

                随机的1      随机的2      随机的3      随机的4
2020-01-01  1.069631       NaN -0.775526  0.495784
2020-01-02  0.262717 -0.002181  1.242815  1.189811
2020-01-03  0.149777  1.883083  0.249414  1.785598
2020-01-04 -0.515087  1.118550  0.517592  0.046871
2020-01-05  1.001624  1.098171  0.979042  1.374209
2020-01-06  0.043369  0.495361  0.047793 -0.995210

In [80]:
df_copy=df_copy.dropna(axis=0,how='any')  # 删除 how{‘any’,'all'} 存在一个，或必须全部都是 ,注意这个函数返回处理后的df，并不对原数据进行改变

In [81]:
df_copy

                随机的1      随机的2      随机的3      随机的4
2020-01-02  0.262717 -0.002181  1.242815  1.189811
2020-01-03  0.149777  1.883083  0.249414  1.785598
2020-01-04 -0.515087  1.118550  0.517592  0.046871
2020-01-05  1.001624  1.098171  0.979042  1.374209
2020-01-06  0.043369  0.495361  0.047793 -0.995210

In [82]:
df_copy.iloc[:,2]=np.nan
df_copy.iloc[1,1]=np.nan

/Users/lmy/miniforge3/envs/py39/lib/python3.9/site-packages/pandas/core/indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value
/Users/lmy/miniforge3/envs/py39/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/lmy/miniforge3/envs/py39/lib/python3.9/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

#### 删除空值

In [83]:
df_copy.dropna(axis=1,how='all')

                随机的1      随机的2      随机的4
2020-01-02  0.262717 -0.002181  1.189811
2020-01-03  0.149777       NaN  1.785598
2020-01-04 -0.515087  1.118550  0.046871
2020-01-05  1.001624  1.098171  1.374209
2020-01-06  0.043369  0.495361 -0.995210

In [84]:
df_copy.iloc[:,2]=np.nan

/Users/lmy/miniforge3/envs/py39/lib/python3.9/site-packages/pandas/core/indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value

In [85]:
df_copy

                随机的1      随机的2  随机的3      随机的4
2020-01-02  0.262717 -0.002181   NaN  1.189811
2020-01-03  0.149777       NaN   NaN  1.785598
2020-01-04 -0.515087  1.118550   NaN  0.046871
2020-01-05  1.001624  1.098171   NaN  1.374209
2020-01-06  0.043369  0.495361   NaN -0.995210

#### 填充空值

In [86]:
df_copy.fillna(value="aa")

                随机的1      随机的2 随机的3      随机的4
2020-01-02  0.262717 -0.002181   aa  1.189811
2020-01-03  0.149777        aa   aa  1.785598
2020-01-04 -0.515087   1.11855   aa  0.046871
2020-01-05  1.001624  1.098171   aa  1.374209
2020-01-06  0.043369  0.495361   aa -0.995210

#### 判断空值

In [87]:
# 如果是空，则将该块内容设置为空
df_copy.isnull()

# 返回整个df中是否包含空值
print(np.any(df_copy.isnull())==True)

True

## 利用pandas进行导入与导出操作

### 从CSV文件读取DataFrame对象
利用read_csv()
重要参数如下
- `sep` / `delimiter`：分隔符，默认是`,`。
- `header`：表头（列索引）的位置，默认值是`infer`，用第一行的内容作为表头（列索引）。
- `index_col`：用作行索引（标签）的列。
- `usecols`：需要加载的列，可以使用序号或者列名。
- `true_values` / `false_values`：哪些值被视为布尔值`True` / `False`。
- `skiprows`：通过行号、索引或函数指定需要跳过的行。
- `skipfooter`：要跳过的末尾行数。
- `nrows`：需要读取的行数。
- `na_values`：哪些值被视为空值。

In [ ]:
student_data=pd.read_csv('res/student.csv',true_values=['Male'],false_values=['Female'],index_col='Student ID')
student_data

In [ ]:
dataframe1.to_csv('res/test.csv',encoding='utf_8_sig')

In [37]:
### 从EXCEL中读取DataFrame对象

In [ ]:
read_excel()方法,多了一个sheet_name参数来指定数据表的名称，但是不同于 CSV 文件，没有sep或delimiter这样的参数。下面的代码中，read_excel函数的skiprows参数是一个 Lambda 函数，通过该 Lambda 函数指定只读取 Excel 文件的表头和其中10%的数据，跳过其他的数据。

testDF= pd.read_excel(
    io='res/EXCEL_test.xlsx',
    usecols = ['序号','账号','密码','姓名','account','password'],
    header= 2
)
testDF

In [ ]:
### 从数据库中读取DataFrame

In [36]:
import pymysql

# 创建一个MySQL数据库的连接对象
conn = pymysql.connect(
    host='47.104.31.138', port=3306,
    user='guest', password='Guest.618',
    database='hrs', charset='utf8mb4'
)
# 通过SQL从数据库读取数据创建DataFrame
dept_df = pd.read_sql('select * from tb_dept', conn, index_col='dno')
emp_df = pd.read_sql('select * from tb_emp', conn, index_col='eno')
emp2_df = pd.read_sql('select * from tb_emp2', conn, index_col='eno')

## 合并与分割

### 合并concat

In [ ]:
df1=pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
df3=pd.DataFrame(np.ones((3,4))*2,columns=['a','b','c','d'])
# print(df1)

In [ ]:
res=pd.concat([df1,df2,df3],axis=0)
res

In [ ]:
# 忽视掉序列号
res=pd.concat([df1,df2,df3],axis=0,ignore_index=True)
res

### 连接join(outer与inner)

In [ ]:
#使用不同标签的列进行合并
df1=pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'],index=[1,2,3])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['b','c','d','e'],index=[2,3,4])
df1

In [ ]:
df2

In [ ]:
res=pd.concat([df1,df2],join='outer')
res

In [ ]:
res=pd.concat([df1,df2],join='inner')
res=pd.concat([df1,df2],join='inner',ignore_index=True)
res

### 通过append()添加Series

In [ ]:
series1=pd.Series([1,2,3,4],index=['a','b','c','d'])
res=df1.append(series1,ignore_index=True)
res

### merge()进行合并

#### 根据一个key进行合并

In [ ]:
# 通过字典的形式进行创建dataframe
df_left=pd.DataFrame({'key':['K0','aa','K2','K3'],
                      'A':['A0','A1','A2','A3'],
                      'B':['B0','B1','B2','B3']
                     })
df_right=pd.DataFrame({'key':['K0','bb','K2','K3'],
                      'C':['C0','C1','C2','C3'],
                      'D':['D0','D1','D2','D3']
                     })

In [ ]:
df_right

In [ ]:
res=pd.merge(df_left,df_right,on='key')# 仅合并相同的部分
res

#### 根据多个key进行合并

In [ ]:
df_left=pd.DataFrame({'key1':['K0','aa','K2','K3'],
                      'key2':['K1','K2','K5','K3'],
                      'A':['A0','A1','A2','A3'],
                      'B':['B0','B1','B2','B3']
                     })
df_right=pd.DataFrame({'key1':['K0','bb','K2','K3'],
                       'key2':['K1','K0','K0','K0'],
                      'C':['C0','C1','C2','C3'],
                      'D':['D0','D1','D2','D3']
                     })

In [ ]:
res=pd.merge(df_left,df_right,on=['key1','key2']) #默认为how='inner'
res

In [ ]:
res=pd.merge(df_left,df_right,on=['key1','key2'],how='right') 
res

In [ ]:
res=pd.merge(df_left,df_right,on=['key1','key2'],how='left') 
res

In [ ]:
res=pd.merge(df_left,df_right,on=['key1','key2'],how='outer',indicator='indicator_column') # 添加指示器并对指示器命名
res

#### 根据index进行合并

In [ ]:
df_left=pd.DataFrame({'A':['A0','A1','A2','A3'],
                      'B':['B0','B1','B2','B3']},
                     index=['K0','aa','K2','K3'],)
df_right=pd.DataFrame({'C':['C0','C1','C2','C3'],
                      'D':['D0','D1','D2','D3']},
                     index=['K0','ab','K4','K3'])

In [ ]:
res=pd.merge(df_left,df_right,left_index=True,right_index=True,how='outer',indicator=True)
res

In [ ]:
df_boys=pd.DataFrame({'年龄':[12,34,12],
                      '班级':[1,2,3]})
df_girls=pd.DataFrame({'班级':[1,2,4],
                     '年龄':[23,13,17]})

In [ ]:
# 输出两个表中相同班级的男孩女孩，并在年龄后添加后缀
res=pd.merge(df_boys,df_girls,on='班级',suffixes=['_男孩','_女孩'],how='inner')
res

## pandas的数据可视化plot

In [ ]:
series1=pd.Series(np.random.randn(1000),index=np.arange(1000)) 
series1

In [ ]:
series1=series1.cumsum() # 累加
series1.plot()

In [ ]:
series2=pd.DataFrame(np.random.randn(1000,4),index=np.arange(1000),columns=list('ABCD')) 
series2.plot()
series2.cumsum()
series2.plot()
# plot的方法:
    # bar,hist,box,kde,area,scatter,hexbin,pie

In [ ]:
ax=series2.plot.scatter(x='A',y='B',color='DarkBlue',label='Class 1')
series2.plot.scatter(x='A',y='C',color='Green',label='Class 2',ax=ax)

# Finish,完结撒花✌️